/* movies.css */
body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #141e30, #243b55);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
}

nav a.active {
  border-bottom: 2px solid #fff;
}

main {
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
}

#search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#search-input {
  padding: 0.75rem;
  width: 60%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}

#search-btn {
  padding: 0.75rem 1.5rem;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.movie-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.movie-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.movie-info {
  padding: 1rem;
  text-align: center;
}

.movie-info h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.movie-info p {
  margin: 0.25rem 0;
}

.add-to-watchlist,
.remove-from-watchlist {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-to-watchlist:hover,
.remove-from-watchlist:hover {
  background-color: #ff1e29;
}
